</div>

<footer class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="footer-single-widget">
					<a href="{{@config.custom.websiteURI}}">
						{{#if @website.logo}}
							<img src="{{@website.logo}}" alt="{{@config.custom.websiteTitle}}">
						{{else}}
							{{@config.custom.websiteTitle}}
						{{/if}}
					</a>
					<div class="copywrite-text mt-30">
						{{#if @config.custom.copyright}}
							<p></p>
						{{else}}
							<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				{{> menu-footer menus.footerMenu}}
			</div>
			<div class="col-12 col-md-4">
				<!--
				<div class="footer-single-widget">
					<h5>Subscribe</h5>
					<form action="#" method="post">
						<input type="email" name="email" id="email" placeholder="Enter your mail">
						<button type="button"><i class="fa fa-arrow-right"></i></button>
					</form>
				</div>
				-->
			</div>
		</div>
        {{#if @config.custom.socialButtons}}
			<div class="row mt-2">
				<div class="col-12 col-md-12 socialFooter text-center">
					{{#if @config.custom.socialFooterFacebook}}
						{{#if @config.custom.socialFacebook}}
							<a href="{{@config.custom.socialFacebook}}" aria-label="Facebook">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.socialFooterTwitter}}
						{{#if @config.custom.socialTwitter}}
							<a href="{{@config.custom.socialTwitter}}" aria-label="Twitter">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter" />
								</svg>
							</a>
						{{/if}}
					{{/if}}              
					{{#if @config.custom.socialFooterInstagram}}
						{{#if @config.custom.socialInstagram}}
							<a href="{{@config.custom.socialInstagram}}" aria-label="Instagram">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.socialFooterLinkedin}}
						{{#if @config.custom.socialLinkedin}}
							<a href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.socialFooterVimeo}}
						{{#if @config.custom.socialVimeo}}
							<a href="{{@config.custom.socialVimeo}}" aria-label="Vimeo">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.socialFooterPinterest}}
						{{#if @config.custom.socialPinterest}}
							<a href="{{@config.custom.socialPinterest}}" aria-label="Pinterest">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.socialFooterYoutube}}
						{{#if @config.custom.socialYoutube}}
							<a href="{{@config.custom.socialYoutube}}" aria-label="Youtube">
								<svg>
									<use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube" />
								</svg>
							</a>
						{{/if}}
					{{/if}}
				</div>
			</div>
        {{/if}}
		{{#if @config.custom.copyrightText}}
			<div class="row mt-2">
				<div class="col-12 col-md-12 text-center">
					<p>{{{@config.custom.copyrightText}}}</p>
				</div>
			</div>
        {{/if}}
	</div>
</footer>

<script>
   window.publiiThemeMenuConfig = {    
        mobileMenuMode: '{{@config.custom.mobilemenu}}',
        animationSpeed: 300,
        submenuWidth: {{#checkIf @config.custom.submenu '==' "auto" }}'auto'{{else}}{{@config.custom.submenuWidth}}{{/checkIf}},
        doubleClickTime: 500,
        mobileMenuExpandableSubmenus: {{@config.custom.mobilemenuExpandableSubmenus}}, 
        relatedContainerForOverlayMenuSelector: '.navbar',
   };
</script>

<script defer src="{{js "scripts.min.js"}}"></script>
{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#checkIfAny @config.custom.frontCommentCount @config.custom.tagCommentCount @config.custom.authorCommentCount @config.post.displayCommentCount}}
    <script id="dsq-count-scr" src="https://{{@config.custom.commentDisqusShortname}}.disqus.com/count.js" async></script>
{{/checkIfAny}}
{{#if @renderer.previewMode}}
	<script defer src="{{js "svg2js.js"}}"></script>
	<script defer src="{{js "svg-fix.js"}}"></script>
{{/if}}

<script defer src="{{@website.assetsUrl}}/theme/js/jquery/jquery-2.2.4.min.js"></script>
<script defer src="{{@website.assetsUrl}}/theme/js/popper.min.js"></script>
<script defer src="{{@website.assetsUrl}}/theme/js/bootstrap.min.js"></script>
<script defer src="{{@website.assetsUrl}}/theme/js/plugins.js"></script>
<script defer src="{{@website.assetsUrl}}/theme/js/active.js"></script>

{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
