<div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
	<div class="post-thumbnail">
		<a href="{{url}}" class="post__nav__link" rel="prev">
			{{#featuredImage}}
				{{#if url}}
					{{#if @config.custom.lazyLoad}}
						<img
							 class="lazyload"
							 {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
								src="{{urlXs}}"
							 {{else}}
								data-src="{{urlXs}}"
							 {{/checkIf}}
							 data-srcset="{{urlXs}}"
							 data-expand="300"
							 alt="{{alt}}">
					{{else}}
						<img src="{{urlXs}}" alt="{{alt}}">
					{{/if}}
				{{/if}}
			{{/featuredImage}}
		</a>
	</div>
	<div class="post-content">
		<a href="{{url}}" class="headline">
			<h5>{{title}}</h5>
		</a>
		<p>{{{excerpt}}}</p>
		<div class="post-meta">
			<p>
				{{#if @config.custom.frontAuthorName}}
					{{#author}}
						<a href="{{url}}" class="post-author" title="{{name}}">{{name}}</a>,
					{{/author}}
				{{/if}}
				{{#if @config.custom.frontDate}}
					<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="post-date">
						{{#checkIf @config.custom.formatDate '!=' 'custom'}}
							{{date createdAt @config.custom.formatDate}}
						{{else}}
							{{date createdAt @config.custom.formatDateCustom}}
						{{/checkIf}}
					</time>
				{{/if}}
			</p>
		</div>
	</div>
</div>
