<div class="post-sidebar-area mb-100 wow fadeInUpBig" data-wow-delay="0.2s">
	{{#if @config.custom.sidebarAbout}}
		<div class="sidebar-widget-area">
			<h5 class="title">{{@config.custom.sidebarAboutTitle}}</h5>
			<div class="widget-content">
				<p>{{@config.custom.sidebarAboutText}}</p>
			</div>
		</div>
	{{/if}}

	{{#if @config.custom.featured}}
		{{#if featuredPosts}}
			<div class="sidebar-widget-area">
				<h5 class="title">{{ translate 'partials.sidebar.featured' }}</h5>
				<div class="widget-content">
					{{#each featuredPosts}}
						{{#checkIf @index '<' @config.custom.featuredAmount}}
							{{> post-image-title-landscape}}
						{{/checkIf}}
					{{/each}}
				</div>
			</div>
		{{/if}}
	{{/if}}

	{{#if @config.custom.sidebarAd}}
		<div class="sidebar-widget-area">
			<h5 class="title">{{ translate 'listing.advertisement' }}</h5>
			<div class="widget-content">
				{{{@config.custom.sidebarAdCode}}}
			</div>
		</div>
	{{/if}}

	{{#if @config.custom.sidebarToday}}
		{{#if posts}}
			<div class="sidebar-widget-area">
				<h5 class="title">{{ translate 'partials.sidebar.todaysPick' }}</h5>
				<div class="widget-content">
					{{#each posts}}
						{{#checkIf @index '==' 0}}
							{{> post-image-title}}
						{{/checkIf}}
					{{/each}}
				</div>
			</div>
		{{/if}}
	{{/if}}

	{{#if @config.custom.follow}}
		<div class="sidebar-widget-area">
			<h5 class="title">{{ translate 'partials.sidebar.follow' }}</h5>
			<div class="widget-content">
				<div class="social-area d-flex justify-content-between">
					{{#if @config.custom.followSidebarFacebook}}
						{{#if @config.custom.socialFacebook}}
							<a
							   href="{{@config.custom.socialFacebook}}"
							   style="background:#1877f2;width:36px;height:36px;border-radius:50%;display:inline-block;text-align:center;line-height:36px;font-size:20px;color:#fff;border:none;"
							   ><i class="fa fa-facebook"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarTwitter}}
						{{#if @config.custom.socialTwitter}}
							<a 
							   href="{{@config.custom.socialTwitter}}"
							   style="background:#1da1f2;width:36px;height:36px;border-radius:50%;display:inline-block;text-align:center;line-height:36px;font-size:20px;color:#fff;border:none;"
							   ><i class="fa fa-twitter"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarInstagram}}
						{{#if @config.custom.socialInstagram}}
							<a href="{{@config.custom.socialInstagram}}"><i class="fa fa-instagram"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarLinkedin}}
						{{#if @config.custom.socialLinkedin}}
							<a href="{{@config.custom.socialLinkedin}}"><i class="fa fa-linkedin"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarVimeo}}
						{{#if @config.custom.socialVimeo}}
							<a href="{{@config.custom.socialVimeo}}"><i class="fa fa-vimeo"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarPinterest}}
						{{#if @config.custom.socialPinterest}}
							<a href="{{@config.custom.socialPinterest}}"><i class="fa fa-pinterest"></i></a>
						{{/if}}
					{{/if}}
					{{#if @config.custom.followSidebarYoutube}}
						{{#if @config.custom.socialYoutube}}
							<a 
							   href="{{@config.custom.socialYoutube}}"
							   style="background:#ff0000;width:36px;height:36px;border-radius:50%;display:inline-block;text-align:center;line-height:36px;font-size:20px;color:#fff;border:none;"
							   ><i class="fa fa-youtube-play"></i></a>
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	{{/if}}

	{{#if @config.custom.authors}}
		<div class="sidebar-widget-area">
			<h5 class="title">{{ translate 'partials.sidebar.authors' }}</h5>
			<div class="widget-content">
				<!-- todo
				{{#each authors}}
				   {{#checkIf @index '<' @config.custom.authorsAmount}}
					  <li class="authors__item">
						 {{#if @config.custom.authorsAvatar}}
							{{#if avatar}}
							   <a href="{{url}}" class="authors__image-link">
								  {{#if @config.custom.lazyLoad}}
									 <img data-src="{{avatar}}" class="lazyload" alt="{{name}}">
								  {{else}}
									 <img src="{{avatar}}" alt="{{name}}">
								  {{/if}}
							   </a>
							{{/if}}
						 {{/if}}
						 <div>
							<a href="{{url}}" class="authors__title">{{name}}</a>
							{{#if @config.custom.authorsPostCount}}
							   <span class="u-small">{{ translate 'partials.sidebar.authorsPost' }}
								  {{postsNumber}}
							   </span>
							{{/if}}
						 </div>
					  </li>
				   {{/checkIf}}
				{{/each}}
				-->
			</div>
		</div>
	{{/if}}

	{{#if @config.custom.newsletter}}
		<div class="sidebar-widget-area">
			<h5 class="title">{{ translate 'partials.sidebar.newsletter' }}</h5>
			<div class="widget-content">
				<p>{{ translate 'partials.sidebar.newsletterDesc' }}</p>
				{{{@config.custom.newsletterFormCode}}}
			</div>
		</div>
	{{/if}}

	{{#if @config.custom.tags}}
		{{#if tags}}
			<div class="sidebar-widget-area">
				<h5 class="title">{{ translate 'partials.sidebar.tags' }}</h5>
				<div class="widget-content">
					{{#each tags}}
						{{#checkIf @index '<' @config.custom.tagsAmount}}
							<div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
								<div class="post-content">
									<a href="{{url}}" class="headline">
										<h5 class="mx-3 my-3">{{name}} <span class="u-small">({{postsNumber}})</span></h5>
									</a>
								</div>
							</div>
						{{/checkIf}}
					{{/each}}
				</div>
			</div>
		{{/if}}
	{{/if}}
</div>
