<div id="preloader">
	<div class="preload-content">
		<div id="world-load"></div>
	</div>
</div>

<header class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" href="{{@config.custom.websiteURI}}">
						{{#if @website.logo}}
							<img src="{{@website.logo}}" alt="{{@config.custom.websiteTitle}}">
						{{else}}
							{{@config.custom.websiteTitle}}
						{{/if}}
					</a>
					{{#if menus.mainMenu}}
						{{> menu menus.mainMenu}}
					{{/if}}
				</nav>
			</div>
		</div>
	</div>
</header>

<div class="content">
