{{> head}}
{{> top}}

{{#post}}
	{{#if @customHTML.beforePost}}
		{{{@customHTML.beforePost }}}
	{{/if}}

	{{#featuredImage}}
		{{#if url}}
			<div class="hero-area height-400 bg-img background-overlay" style="background-image: url('{{url}}');"></div>
		{{/if}}
	{{/featuredImage}}

    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
						<h3>
							{{title}}
						</h3>

						{{#if @config.custom.lazyLoad}}
							{{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
						{{else}}
							{{{text}}}
						{{/if}}

						{{#checkIfAny @config.post.displayShareButtons}}
							<aside class="post__aside">
								{{#if @config.post.displayShareButtons}}
									<div class="post__share">
										{{> share-buttons}}
									</div>
								{{/if}}
							</aside>
						{{/checkIfAny}}
					</div>
                </div>
            </div>
        </div>
    </div>

	{{#if @customHTML.afterPost}}
		{{{@customHTML.afterPost}}}
	{{/if}}
{{/post}}

{{> footer}}