{{> head}}
{{> top}}

{{#post}}
	{{#if @customHTML.beforePost}}
		{{{@customHTML.beforePost }}}
	{{/if}}

	{{#if featuredImage.url}}
		<div class="hero-area height-600 bg-img background-overlay" style="background-image: url('{{featuredImage.url}}');">
			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center">
					<div class="col-12 col-md-8 col-lg-6">
						<div class="single-blog-title text-center">
							{{#if @config.post.displayCategoryName}}
								{{#if tags}}
									<div class="post-cta">
										{{#each tags}}
												<a
												   href="{{url}}"
												   title="{{name}}">{{name}}</a>
										{{/each}}
									</div>
								{{/if}}
							{{/if}}
							<h3>{{title}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-content mb-100">
						{{#checkIfAny @config.post.displayDate @config.post.displayAuthor}}
							<div class="post-meta">
								<p>
									{{#if @config.post.displayAuthor}}
										{{#author}}
											<a href="{{url}}" class="post-author" title="{{name}}">{{name}}</a>,
										{{/author}}
									{{/if}}
									{{#if @config.post.displayDate}}
										<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="post-date">
											{{#checkIf @config.custom.formatDate '!=' 'custom'}}
												{{date createdAt @config.custom.formatDate}}
											{{else}}
												{{date createdAt @config.custom.formatDateCustom}}
											{{/checkIf}}
										</time>
									{{/if}}
								</p>
							</div>
						{{/checkIfAny}}

						<div class="post-content">
							{{#if @config.custom.lazyLoad}}
								{{{lazyLoadForContentImages text @config.custom.lazyLoadEffect}}}
							{{else}}
								{{{text}}}
							{{/if}}

							{{#if @config.post.displayTags}}
								{{#if tags}}
									<ul class="post-tags">
										{{#each tags}}
											<li>
												<a
												   href="{{url}}"
												   title="{{name}}">{{name}}</a>
											</li>
										{{/each}}
									</ul>
								{{/if}}
							{{/if}}

							<div class="post-meta second-part">
								<p>
									{{#checkIfAny @config.post.displayDate @config.post.displayAuthor @config.post.displayLastUpdatedDate}}
										{{#if @config.post.displayAuthor}}
											{{#author}}
												<a href="{{url}}" class="post-author" title="{{name}}">{{name}}</a>,
											{{/author}}
										{{/if}}
										{{#if @config.post.displayLastUpdatedDate}}
											{{#if modifiedAt}}
												{{ translate 'post.lastUpdatedDate' }}
												{{#checkIf @config.custom.formatDate '!=' 'custom'}}
													{{date modifiedAt @config.custom.formatDate}}
												{{else}}
													{{date modifiedAt @config.custom.formatDateCustom}}
												{{/checkIf}}
											{{/if}}
										{{else if @config.post.displayDate}}
											<time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="post-date">
												{{#checkIf @config.custom.formatDate '!=' 'custom'}}
													{{date createdAt @config.custom.formatDate}}
												{{else}}
													{{date createdAt @config.custom.formatDateCustom}}
												{{/checkIf}}
											</time>
										{{/if}}
										<br>
									{{/checkIfAny}}

									{{#if featuredImage.url}}
										{{#checkIfAny featuredImage.caption featuredImage.credits}}
											Titelbild: {{featuredImage.caption}} <a href="https://unsplash.com/license">{{featuredImage.credits}}</a><br>
										{{/checkIfAny}}
									{{/if}}

									Text: {{author.name}}, <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0</a><br>
								</p>
							</div>

							{{#if @config.post.displayShareButtons}}
								<div class="post-meta second-part">
									<div class="social-area">
										<p>{{ translate 'post.sharePost' }}</p>
										{{> share-buttons}}
									</div>
								</div>
							{{/if}}

							{{#if @config.post.displayCommentCount}}
								{{#if @config.post.displayComments}}
									<!-- old code -->
									<a
									   href="{{url}}#disqus_thread"
									   data-disqus-identifier="{{id}}"
									   class="u-comment-count"
									   rel="nofollow">0</a>
								{{/if}}
							{{/if}}
						</div>

						{{#if @config.post.displayAuthorBio}}
							<!-- old code -->
							<div class="post-content">
							  {{#author}}
								 <div class="post__bio box">
									{{#if avatar}}
									   {{#if @config.custom.lazyLoad}}
										  <img class="lazyload u-author__avatar" data-src="{{avatar}}" alt="{{name}}">
									   {{else}}
										  <img src="{{avatar}}" alt="{{name}}" class="u-author__avatar">
									   {{/if}}
									{{/if}}
									<div>
									   {{#if name}}
										  <h4 class="h6">
											 <a href="{{url}}" title="{{name}}">{{name}}</a>
										  </h4>
									   {{/if}}
									   {{#if description}}
										  <p>{{description}}
										  </p>
									   {{/if}}
									</div>
								 </div>
							  {{/author}}
							</div>
						{{/if}}
					</div>
                </div>

                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
					{{> sidebar}}
                </div>
            </div>

            <!-- ============== Related Post ============== -->
			{{#checkIfAny @config.post.displayPostNavigation @config.post.displayRelatedPosts}}
				<div class="row">
					{{#../previousPost}}
						<div class="col-12 col-md-6 col-lg-4">
							{{> post-image-title-excerpt-date}}
						</div>
					{{/../previousPost}}

					{{#if ../relatedPosts}}
						{{#each ../relatedPosts}}
							<div class="col-12 col-md-6 col-lg-4">
								{{> post-image-title-excerpt-date}}
							</div>			
						{{/each}}
					{{/if}}
					
					{{#../nextPost}}
						<div class="col-12 col-md-6 col-lg-4">
							{{> post-image-title-excerpt-date}}
						</div>
					{{/../nextPost}}

				</div>
			{{/checkIfAny}}

{{#if @config.post.displayComments}}
			<!-- old code -->
         <div class="comments box">
            <h3 class="box__title">
               {{ translate 'post.comments' }}
            </h3>
            {{> disqus}}
         </div>
{{/if}}
{{#if @config.post.displayComments}}
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="post-a-comment-area mt-70">
                        <h5>Get in Touch</h5>
                        <!-- Contact Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="text" name="name" id="name" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="email" name="email" id="email" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group">
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your comment</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn world-btn">Post comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mt-70">
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta d-flex align-items-center justify-content-between">
                                        <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                        <a href="#" class="comment-reply btn world-btn">Reply</a>
                                    </div>
                                    <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                </div>
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Meta -->
                                            <div class="comment-meta d-flex align-items-center justify-content-between">
                                                <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                <a href="#" class="comment-reply btn world-btn">Reply</a>
                                            </div>
                                            <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                            
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta d-flex align-items-center justify-content-between">
                                        <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                        <a href="#" class="comment-reply btn world-btn">Reply</a>
                                    </div>
                                    <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                </div>
                            </li>
                            
                        </ol>
                    </div>
                </div>
            </div>
{{/if}}

		</div>
    </div>

	{{#if @customHTML.afterPost}}
		{{{@customHTML.afterPost}}}
	{{/if}}
{{/post}}

{{> footer}}